/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.myimg{
    width: 200px;
    display: none;
}
/* .follow .account{
    display: flex;
} */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.wrapper {
  width: 400px;
  border: 2px solid #333;
  padding: 1rem;
  text-align: center;
}

.myimg {
  width: 150px;
  border-radius: 50%;
  display: none;
  margin: 1rem auto;
}

.result {
  margin: 0.5rem 0;
  font-weight: bold;
}

.follow {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
